<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/congratulationstyle.css') }}">
    <title>Codagram</title>
  </head>
  <body>
    <form method="GET" action="/">
      <a href="/" class="homepagebutton">HOMEPAGE 🏠</a>
    </form>

    <img class="example" src="static/img/fireworks.png" alt="kids">


    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <h3>{{ message }}</h3>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

  </body>
</html>
