<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/introductioncss.css') }}">
    <title>Codagram</title>
  </head>
  <body>
    <div class="intro">
      <h1 class="title">Introduction to Programming</h1>
    </div>

    <form method="GET" action="/">
      <a href="/" class="homepagebutton">HOMEPAGE 🏠</a>
    </form>

    <!-------------------------- COMPUTER INTRODUCTION -------------------------->

    <div class="computerintroduction">
        <h3>What is a computer? 🖥</h3>
        <p>A computer is a machine following a set of instructions to complete a task.<br>
        "Coding", or "programming", means writing this instructions step-by-step .</p>

        <p>We are surrounded by computer programs. Many of the devices and gadgets we use each day are controlled by them.
          These machines all follow those instructions written by a computer programmer 👩🏼‍💻</p>

          <p>Programs allow you to make a phone call or to send text messages. When you search for a contact, a program also is responsible to find the correct phone number 📱</p>
          <p>Everything a computer does, from browsing the Internet to writing documents or playing music, works because of code written by a software developper 👨🏾‍💻</p>
          <p>Consoles are just another type of computer, and all the games that run on them are programs. All the graphics, sounds, and controls are written in computer code 🕹</p>
          <p>Washing machines are programmed to follow different cycles. Computer code controls how hot the water is and how long the wash takes.</p>
          <p>In some cars, computer programs monitor the speed, temperature, amount of fuel in the tank 🚗
            Computer programs can even help control the brakes to keep people safe and in the most recent cars help to drive using the steering wheel.</p>
    </div>

    <!-------------------------- CODING INTRODUCTION -------------------------->

    <div class="codingintroduction">
      <h3>What is coding? ⌨️</h3>
      <p>Your mom tells you to buy groceries, for example milk 🥛 You need to take the money, take the route to the store, get the milk and return home. Simple right? 👍<br>
          But wait, how much milk should you get? Which brand should you buy? And oh, remember to take the change.<br>
          Also, what if the usual store is closed? What if they are out of milk? What if the milk is expired? 🤷🏻‍
          You may know the answers to this through trial and error as a kid, but for a computer, you need to provide the exact instructions, with conditions to
          encounter different situations and to handle errors.<br>
          That, in essence, is programming 😊 <br>
          How exciting !! Let's get started and learn more about it 🤩</p>
    </div>

    <div class="choices">
    <div class="choice-ruby">

      <!-------------------------- RUBY FORMS -------------------------->

      <form action="/tutorial/ruby">
        <img class="rubyimage" src="static/img/ruby6.png" alt="myself photo">
        <a href="tutorial/ruby" class="tutorial">Ruby Tutorial 📚</a>
      </form>
      <form action="/question/ruby/1">
        <a href="question/ruby/1" class="level1">Ruby Quiz Level 1 🤔</a>
      </form>
      <form action="/questionlevel2/ruby/1">
        <a href="questionlevel2/ruby/1" class="level2">Ruby Quiz Level 2 🤓</a>
      </form>

    </div>

      <!-------------------------- PYTHON FORMS -------------------------->

    <div class="choice-python">

      <form action="/tutorial/python">
        <img src="static/img/python2.png" alt="myself photo">
        <a href="tutorial/python" class="tutorial">Python Tutorial 📚</a>
      </form>
      <form action="/question/python/11">
        <a href="question/python/11" class="level1">Python Quiz Level 1 🤔</a>
      </form>
      <form action="/questionlevel2/python/11">
        <a href="questionlevel2/python/11" class="level2" id="pythonlevel2">Python Quiz Level 2 🤓</a>
      </form>

    </div>

      <!-------------------------- JAVASCRIPT FORMS -------------------------->

    <div class="choice-javascript">

      <form action="/tutorial/javascript">
        <img src="static/img/javascript2.png" alt="myself photo">
        <a href="tutorial/javascript" class="tutorial">JavaScript Tutorial 📚</a>
      </form>
      <form action="/question/javascript/21">
        <a href="question/javascript/21" class="level1">JavaScript Quiz Level 1 🤔</a>
      </form>
      <form action="/questionlevel2/javascript/21">
        <a href="questionlevel2/javascript/21" class="level2">JavaScript Quiz Level 2 🤓</a>
      </form>

    </div>


    </div>


  </body>
</html>
