<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Introduction to Programming</h1>

    <!-------------------------- COMPUTER INTRODUCTION -------------------------->

    <div class="computerintroduction">
        <h3>What is a computer?</h3>
        <p>A computer is a set of instructions that a computer follows to complete a task.
        "Coding", or "programming", means writing the step-by-step instructions that tell the computer what to do.</p>

        <p>We are surrounded by computer programs. Many of the devices and gadgets we use each day are controlled by them.
          These machines all follow step-by-step instructionswritten by a computer programmer.</p>

          <p>Programs allow you to make a phone call or send text messages. When you search for a contact, a program finds the correct phone number.</p>
          <p>Everything a computer does, from browsing the Internet to writing documents or playing music, works because of code written by a computer programmer.</p>
          <p>Consoles are just another type of computer, and all the games that run on them are programs. All the graphics, sounds, and controls are written in computer code.</p>
          <p>Washing machines are programmed to follow different cycles. Computer code controls how hot the water is and how long the wash takes.</p>
          <p>In some cars, computer programs monitor the speed, temperature, amount of fuel in the tank.
            Computer programs can even help control the brakes to keep people safe and in the most recent cars help to drive using the steering wheel.</p>
    </div>

    <!-------------------------- CODING INTRODUCTION -------------------------->

    <div class="codingintroduction">
      <h3>What is coding?</h3>
      <p>Your mom tells you to buy groceries, for example milk. You need to take the money, take the route to the store, get the milk and return home. Simple right?
          But wait, how much milk should you get? which brand should you buy? And oh, remember to take the change.
          Also, what if the usual store is closed? What if they're out of milk? What if the milk is expired?
          You may know the answers to this through trial and error as a kid, but for a computer, you need to provide the exact instructions, with conditions to
          encounter different situations and to handle errors. That, in essence, is programming.</p>
    </div>

    <div class="choices">
      <h4>Choose a language</h4>

      <!-------------------------- RUBY FORMS -------------------------->

      <form action="/tutorial/ruby">
        <p>Ruby link (prefer image)</p>
        <button type="submit">Ruby Tutorial</button>
      </form>
      <form action="/question/ruby/1">
        <button type="submit">Ruby Quiz Level 1</button>
      </form>
      <form action="/questionlevel2/ruby/1">
        <button type="submit">Ruby Quiz Level 2</button>
      </form>

      <!-------------------------- PYTHON FORMS -------------------------->

      <form action="/tutorial/python">
        <p>Python link (prefer image)</p>
        <button type="submit">Python Tutorial</button>
      </form>
      <form action="/question/python/11">
        <button type="submit">Python Quiz Level 1</button>
      </form>
      <form action="/questionlevel2/python/11">
        <button type="submit">Python Quiz Level 2</button>
      </form>

      <!-------------------------- JAVASCRIPT FORMS -------------------------->

      <form action="/tutorial/javascript">
        <p>Javascript link (prefer image)</p>
        <button type="submit">Javascript Tutorial</button>
      </form>
      <form action="/question/javascript/21">
        <button type="submit">Javascript Quiz Level 1</button>
      </form>
      <form action="/questionlevel2/javascript/21">
        <button type="submit">JavaScript Quiz Level 2</button>
      </form>
    </div>

    <p>HomePage</p>
    <form method="GET" action="/"><button type="submit">Go on the HomePage</button></form>


  </body>
</html>
