<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Introduction to Coding</h1>
    <p>Add some text here about coding etc.....</p>
    <br>
    <p>Not it's time to learn (maybe a smiley face emoji/image here)</p>
    <br>
    <p>Choose a language</p>

    <form action="/tutorial_ruby">
      <p>Ruby link (prefer image)</p>
      <button type="submit">Ruby Tutorial</button>
    </form>
    <form action="/question_ruby/1">
      <p>Ruby link (prefer image)</p>
      <button type="submit">Ruby Quiz</button>
    </form>

    <form action="/tutorial_python">
      <p>Python link (prefer image)</p>
      <button type="submit">Python Tutorial</button>
    </form>
    <form action="/question_python/1">
      <p>Python link (prefer image)</p>
      <button type="submit">Python Quiz</button>
    </form>

    <form action="/tutorial_javascript">
      <p>Javascript link (prefer image)</p>
      <button type="submit">Javascript Tutorial</button>
    </form>
    <form action="/question_javascript/1">
      <p>Javascript link (prefer image)</p>
      <button type="submit">Javascript Quiz</button>
    </form>
  </body>
</html>
