<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questionstyle.css') }}">
    <title>Codagram</title>
  </head>
  <body>

    <form method="GET" action="/">
      <a href="/" class="homepagebutton">HOMEPAGE 🏠</a>
    </form>

    <h1 class="header" >{{question2.question}}</h1>

    <div class="questions">
      <form method="POST">
        <input type="text" name="user_answer" value="{{txtboxvalue}}"><br><br>

        <button class="submitbutton" type="submit" {{submitbtn}}>{% if submitbtn == "Disabled" %} THAT'S CORRECT! {% else %} Submit Answer {% endif %}</button><br>

      </form>
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <h3>{{ message }}</h3>
        {% endfor %}
      {% endif %}
    {% endwith %}

  </body>
</html>
