<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styletutorial.css') }}">
    <title>Codagram</title>
  </head>
  <body>

    <form method="GET" action="/">
      <a href="/" class="homepagebutton">HOMEPAGE</a>
    </form>
    
    <div class="container">

    <p>Add some information about Javascript, maybe bullet points, something interesting for kids etc...</p>

    <form action="/question/javascript/21">
      <a href="/question/javascript/21" class="questionbutton">Take the Quiz</a>
    </form>

    </div>

  </body>
</html>
