<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styletutorial.css') }}">
    <title>Codagram</title>
  </head>
  <body>
    <h1>Learning the basic of Python programming language</h1>

    <form method="GET" action="/">
      <a href="/" class="homepagebutton">HOMEPAGE 🏠</a>
    </form>

    <div class="container">

    <div class="introduction">
        <p>Python is a programming language, and yes also a big snake! 🐍
          It is also considered as a good option to start because it is a pretty simple language to understand and its syntax is easy.
          This language was created by Guido Van Rossum in 1991 in Netherlands.
          It is what we call an OOP, Object Oriented Programming language.</p>
    </div>

    <div class="lessons">
      <h3>Data types: Integers and Strings</h3>
      <p>In Python, your information or data can come in different ways. There are five data types in Python, but we just will focus on two for now:
        - Integer : any number 🔢<br/>
        - Strings : any text 🆒<</p>

      <h3>Booleans</h3>
        <p>What we call boolean values are two constant objects that can never change.<br>
          They are use to represent truth values. They are written True and False.</p>

      <h3>Strings</h3>
      <p>In programming a string is a representation of text. Every time we want to display something
        on the screen we need to write our text as a string. To do that we need to encapsulate our text
        with single or double quotes exactly like this: "This is a Python string".</p>

      <h3>Integers</h3>
      <p>Integers in programming are basically numbers. Numbers don't need to be encapsulated
        like text so you can simply write the number you want and it will be displayed on the screen.<br>
        You can do all the classical operation you learned at school with the integer.<br>
        There are 4 main arithmetic operators we're going to focus on: Addition, Subtraction, Division, Multiplication. In addition to this, there is
        also a modulo operator : % which is to the left over of an division.<br>
        So for example 5 % 3 = 2.
        Finally, you can also use exponents in Ruby by Python **.<br>
        For example : 2 ** 3 = 8</p>

      <h3>Variables</h3>
      <p>One of the most basic concepts in computer programming is a variable.
        You can think of a variable as a word or name that grasps a single value.<br>
        For example, let's say you need to use the the number 33 multiple times, you can just
        store it in a variable and that variable will remember the number 33 for you.<br>
        To create a variable you simply need to give a name to the variable, put
        an equal sign on its right and to write the data that you want to store after the equal sign.<br>
        Example: name = "Codagram" name is the variable which is storing the "Codagram" string.<br>
        Or: age = 8 age is the variable which is storing the integer 8.</p>

      <h3>print</h3>
      <p>The  print function just take whatever you give it and prints it to the screen. It allows you to output what you want to be display.<br>
        In fact displaying "Hello World" on the screen is super simple. You just need to use the print keyword and write some parentheses on its right, inside of which you will writte whatever you would like to displayed.<br>
        To ouput Hello World you can just do: print("Hello World") and it will appears on the screen.</p>

      <h3>The len() function</h3>
      <p> Functions are used to give some behaviour to the object we are working with. We say that we are calling a method on an object. Function can be called on an object with a . or passing the objedt wanted between parentheses. It depend of the function <br>
        If you have a string and you feel lazy to count how long is that string,
        then comes in handy the len() function. You can simply use this method to output the exact number of characters contained in that string.<br>
        Example: we have "Hello World", to count the length of this string we can simply do: len("Hello World").
        the length is 11 (it also counts spaces).<br>
        Pretty simple, right?</p>


      <h3>Lists</h3>
      <p>A list is a collection which is ordered anc chanegable. An example of a variable storing a list would be
        l = [195, "Hello", False]. Lists can store any type of data. This one stores an integer, a string and a boolean value.<br>
        To acces to an item inside it's super easy. If you do a[0], the output would be 195 because list's index starts from 0 and count onwards.<br><br>
        You can interact with the list in a number of different ways. You could add a value into a list by using the .append function. You can also remove values by ising the .remove() function. You just have to write into the parentheses what value you want to remove.<br>
        For example if we do l.append("cool"), the new list would
        be l = [195, "Hello World", False, "cool"].<br>
        If we do l.remove("Hello World"), the new list would be l = [195, False, "cool"].</p>

      <h3>Dictionaries</h3>
      <p>Dictionaries are similar to lists in that they hold data.<br>
        However, they are using a key/value pair..<br>
        You can access a specific value in a dictionary by searching up its key.<br>
        An example of this would be : d = { "Mickey" => "mouse", "Donald" => "duck", "Jasmine" => "human"}.<br>
        If we type : print(d["Mickey"], the output will be mouse.</p>

      <h3>The '.length' method</h3>
      <p> Methods are used to give some behaviour to our programs. If you have a string and you feel lazy to count how long is that string,
        then comes in handy the '.length' method. You can simply use this method to output the exact number of characters contained in that string.
        Example: we have 'Hello World', to count the length of this string we can simply do: 'Hello World'.length and it will output
        the number 11 (it also counts spaces). Pretty simple, right?</p>

      <h3>The .replace() function</h3>
      <p>The replace() function is called the same way on an object with a lenght ans by passing between the parentheses first what you want to replace, and second what will it be replced by.<br>
        For examples, if we have our string "Hello World"
        and that for whatever reason we want to replace the "H" by a "J", we can use the .replace() function. Like this :<br>
        "Hello World".replace("H", "J"). The string will become "Jello World".</p>

      <h3>.upper() & .lower() functions </h3>
      <p>Let's see two methods. As you might have guessed, the .upper() and .lower() functions convert a string to ALL
        UPPER CASE or all lower case, respectively.
        Example: "Hello World".upper() will output "HELLO WORLD".</p>

      <h3>Classes</h3>
      <p>Imagine you are an object that is an instance of the class Person. In a certain way, you actually are. Let me explain better.<br>
        Let's say that a class is something inside what you can wrap the values of a same kind. In our case the class will be person and inside will be wrapped all the persons/humans in the world.<br>
        Since you are a person, you are able to remember your own name and able to do something with it.
        When asked, you can return your name to whoever called it. In the same way, methods can interact with instances of classes.<br>
        To create a class, you have to write the keyword class followed by the class name you want to give starting by a capital letter and a colon : Then inside you can wrap what you want.
        .</p>


      <h3>Comments</h3>
      <p>The '#' sign is used to make comments. A comment is a bit of text that Ruby  won't try to run when you run the code. It can be useful to use to remember something that you   have done for example.<br>
          Example: #this is a comment and it will not appears on the screen</p>

      <form action="/question/pyhon/11">
        <a href="/question/python/11" class="questionbutton">Take the Quiz ❓</a>
      </form>
    </div>

    </div>

  </body>
</html>
